* {
	margin: 0;
	padding: 0;
}
body {
	font-family: sans-serif;
	font-size: 16px;
	color: #333;
	background: #fff;
	padding: 20px;
}

.message {
	font-size: 14px;
	border-top: 1px solid #ebebeb;
	padding: 10px 0;
}
.message big {
	font-size: 18px;
	display: block;
	margin-bottom: 5px;
}
.message small {
	font-size: 11px;
	color: #999;
	display: block;
	margin-top: 5px;
}